

    <div id="app">
      <div class="slider-containner">
        <div class="carusel-containner">
          <span id="left"></span>
          <ul class="slider-items-containner">
            <li>
              <img
                src="../../../../assets/images/1.jpg"
                id="lastClone"
              />
            </li>
            <li>
              <img
                src="../../../../assets/images/2.jpg"
              />
            </li>

            <li>
              <img
                src="../../../../assets/images/3.jpg"
              />
            </li>

            <li>
              <img
                src="../../../../assets/images/4.jpg"
              />
            </li>

            <li>
              <img
                src="../../../../assets/images/5.jpg"
              />
            </li>

            <li>
              <img
                src="../../../../assets/images/6.jpg"
              />
            </li>
          </ul>
          <span id="right"></span>
        
        </div>
      </div>
    