<app-slajder>

</app-slajder>


<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6" id="tekst">
          <h1>Knjizara ,,Bookland"</h1><br>
          <p>
           Knjižara ,,Bookland" osnovana je 2022. godine u samom srcu Beograda. Osnovali smo je sa željom da naše omiljene knjige budu svima dostupne. Vodili smo se idejom da čitalačkoj publici na jednom mestu ponudimo kvalitetan izbor. Naš čitalački univerzum ne prestaje da raste i na to smo veoma ponosni. Naravno, glavni deo toga čine naši posetioci, kupci i vredni ljudi koji rade u našem knjižarskom lancu. Bez svih vas i nas, čarolija čitanja ne bi bila ovako čudesno uspešna i lepa.
            </p>
<br>
          <p> 
            Uživajte u čitanju, čitajte sa uživanjem, jer kod nas su sve dobre knjige na jednom mestu.
          </p>
        </div>
        <div class="col-lg-6" id="slika">
            <img
            src="../../../../assets/images/7.jpg"
          />
        </div>
    </div>
 
        <!-- HTML !-->
       



</div> 
<div id="dugme">

    <a href="knjige">
      <button class="button-17" role="button">
        <p>Pogledajte našu ponudu  
          <i class="arrow right"></i>
        </p>  
      </button>  
    </a>
</div>